<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.0.29, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="../styles/principal.css">
  <title>Home</title>
  
</head>
<body> 
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart" id="cart-icon">
                <a id="cart-link" href="#" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                    <span id="cart-item-count" class="cart-item-count">0</span>
                </a>
            </div>           
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
            <ul class="nav">
                <% categorias.forEach(categoria => { %>
                    <li><a href="/produtos/<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></a></li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <main>
        <div class="background">
            <img src="../images/fundo.jpeg" alt="background">
        </div>
        <div class="cards">
            <h2>Produtos em Destaque</h2>
            <div class="slider js-slider">
                <% let produtosComCincoEstrelas = 0; %>
                <% produtos.forEach(produto => { %>
                    <% if (produto.avaliacao_produto === 5 && produtosComCincoEstrelas < 5) { %>
                        <div class="card">
                            <div class="like"></div>
                            <img class="product" src="<%= produto.imagem_produto.replace('public/', '') %>">
                            <h4 class="prod-name"><%= produto.nome_produto %></h4>
                            <div class="rating">
                                <% for (let i = 0; i < produto.avaliacao_produto; i++) { %>
                                    <span class="star">&#9733;</span> <!-- Estrela preenchida -->
                                <% } %>
                                <% for (let i = produto.avaliacao_produto; i < 5; i++) { %>
                                    <span class="star">&#9734;</span> <!-- Estrela vazia -->
                                <% } %>
                            </div>
                            <div class="price">
                                <h5>R$ <%= produto.preco_produto %></h5>
                            </div>
                            <button class="add-to-cart" onclick="addToCart('<%= produto.id_produto %>')">Adicionar ao Carrinho</button>
                        </div>
                        <% produtosComCincoEstrelas++; %>
                    <% } %>
                <% }) %>
            </div>
           
        </div>
            
        <div class="container2">
            <div class="curiosidade">
                <img src="../images/ambient.jpg">
                <div class="icon-green"></div>
                <div class="curios-tex">
                    <p id="curios-tex1">A MELHOR QUALIDADE</p>
                    <p id="curios-tex2">APENAS POR HOJE</p>
                    <p id="curios-tex2">PARA VOCÊ</p>  
                    <p id="curios-tex3">SÓ AQUI!</p>
                </div>
            </div>
        </div>

        <div class="container3">
            <div class="box">
                <p>Selecionados para Você!</p>
                <div class="slider2">
                    <% let produtosSemCincoEstrelas = 0; %>
                    <% produtos.forEach(produto => { %>
                        <% if (produto.avaliacao_produto !== 5 && produtosSemCincoEstrelas < 5) { %>
                            <div class="card2">
                                <img class="product" src="<%= produto.imagem_produto %>">
                                <h4 class="prod-name"><%= produto.nome_produto %></h4>
                                <div class="rating">
                                    <% for (let i = 0; i < produto.avaliacao_produto; i++) { %>
                                        <span class="star">&#9733;</span> 
                                    <% } %>
                                    <% for (let i = produto.avaliacao_produto; i < 5; i++) { %>
                                        <span class="star">&#9734;</span> 
                                    <% } %>
                                </div>
                                <div class="price">
                                    <h5>R$ <%= produto.preco_produto %></h5>
                                </div>
                                <button class="add-to-cart" onclick="addToCart('<%= produto.id_produto %>')">Adicionar ao Carrinho</button>
                            </div>
                            <% produtosSemCincoEstrelas++; %>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>

        <div>
            <div class="container5">
                <div class="curiosidade5">
                    <div class="icon-sobre"></div>
                    <div class="curios-tex">
                        <p id="curios-tex1">Nossa Missão:</p>
                        <p id="curios-tex3">Acreditamos que a inovação tecnológica pode e deve caminhar de mãos
                            dadas com a preservação do meio ambiente. Nossa missão é oferecer produtos que não
                            apenas atendam às necessidades do presente, mas também preservem os recursos para
                            as gerações futuras. Com uma ampla gama de soluções tecnológicas sustentáveis,
                            estamos comprometidos em tornar o mundo um lugar mais verde e inteligente.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container4">
            <div class="box">
                <p>Tecnologia Verde!</p>
                <div class="slider2">
                    <% let produtosCategoriaDois = 0; %>
                    <% produtos.forEach(produto => { %>
                        <% if (produto.id_categoria_TB_CATEGORIAS === 2 && produtosCategoriaDois < 5) { %>
                            <div class="card2">
                                <img class="product" src="<%= produto.imagem_produto.replace('public/', '') %>">
                                <h4 class="prod-name"><%= produto.nome_produto %></h4>
                                <div class="price">
                                    <h5>R$ <%= produto.preco_produto %></h5>
                                </div>
                                <button class="add-to-cart" onclick="addToCart('<%= produto.id_produto %>')">Adicionar ao Carrinho</button>
                            </div>
                            <% produtosCategoriaDois++; %>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
        <div class="line"></div>
        <div class="footer-footer">
            <p>&copy; 2024 GreenTech</p>
        </div>
    </footer>
    <script>
        let cartItems = [];
    
        function loadDataFromLocalStorage() {
            const storedCartItems = localStorage.getItem('cartItems');
            if (storedCartItems) {
                cartItems = JSON.parse(storedCartItems);
            }
            updateCartItemCount();
            updateCartLink(); // Chama a função para garantir que o link do carrinho esteja atualizado ao carregar a página
        }
    
        function loadUsername() {
            document.addEventListener("DOMContentLoaded", function() {
                const username = localStorage.getItem('username')?.split(' ')[0];
                if (username) {
                    const loginButton = document.querySelector('.login-button');
                    const dropbtn = document.querySelector('.dropbtn');
                    const logoutMenu = document.querySelector('.logout-menu');
                    
                    if (loginButton && dropbtn && logoutMenu) {
                        dropbtn.textContent = username;
                        logoutMenu.style.display = 'block';
                        loginButton.style.display = 'none';
                        
                        dropbtn.addEventListener('click', function() {
                            const dropdownContent = document.querySelector('.dropdown-content');
                            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                        });
                    }
                }
            });
        }
    
        function clearLocalStorage() {
            localStorage.removeItem('username');
            localStorage.removeItem('cartItems');
            location.reload();
        }
    
        function addToCart(productId) {
            cartItems.push(productId);
            saveCartItemsToLocalStorage();
            updateCartItemCount();
            updateCartLink();
        }
    
        function saveCartItemsToLocalStorage() {
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
        }
    
        function updateCartItemCount() {
            const cartItemCount = document.getElementById('cart-item-count');
            cartItemCount.innerText = cartItems.length;
        }
    
        function updateCartLink() {
            const cartLink = document.getElementById('cart-link');
            cartLink.href = `/pagamento?produtos=${JSON.stringify(cartItems)}`;
        }
    
        loadUsername();
        loadDataFromLocalStorage();
    </script>
    
    
</body>
</html>